@mixin flex($dir : row, $gap: 0rem) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin bg($url : '') {
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.burgerWrapper {
    display: none;
    transition: all 0.3s;
    border-radius: 0.75rem;
    background-color: transparent;
    margin-left: 2.75rem;
    cursor: pointer;
    .menu1 {
        width: 2.75rem;
        height: 2.75rem;
        background: transparent;
        cursor: pointer;
        border-radius: 15px;
        transition: all 0.5s;
        z-index: 1500;
        position: relative;
        background-color: transparent;
        translate: 0 0.15rem;
        .menuBarCont {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 70%;
            transition: all 0.5s;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .menu_bar1, .menu_bar2, .menu_bar3 {
                position: absolute;
                background-color: var(--primary-light);
                width: 100%;
                height: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5px;
                transition: all 0.5s;
                display: inline-block;
            }
            .menu_bar1 {
                width: 50%;
                transform: translate(-100%, -11.5px);
                transform-origin: 100% 0;
            }
            .menu_bar2 {
                width: 100%;
                transform: translate(-50%, 0.4px);
            }
            .menu_bar3 {
                width: 50%;
                transform: translate(0, 11.5px);
                transform-origin: 0 100%;
            }
        }
    }
    
    .menu1:hover .overlay {
        height: 3.25rem;
    }

    .sidebar {
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 0vw;
        height: 100vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        transition: all 0.3s ease;
        padding-top: 10rem;
        cursor: default;
        .chat-groups {
            width: 0;
            height: 90vh;
            overflow-x: hidden;
            background-color: var(--primary-light);
            box-shadow: 0.1rem 0 0.25rem var(--primary-grey);
            left: 0;
            top: 0;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: scroll;
            z-index: 1000 !important;
            transition: all 0.3s ease-in-out !important;
            .sideHead {
                margin-top: 6.75rem;
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                width: 90%;
                position: relative;
                padding-block: 1rem;
                border-bottom: 0.1rem solid var(--primary-grey);
                transition: all 0.3s ease-in-out;
                opacity: 0;
                .addGroupButton {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.25rem;
                    padding: 0.25rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: var(--primary);
                    color: var(--primary-light);
                    cursor: pointer;
                    z-index: 1500;
                }
                .formCont {
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    transition: all 0.3s ease-in-out;
                    height: 0rem;
                    opacity: 0;
                    .warning {
                        display: none;
                        border: transparent;
                        outline: none;
                        background: red;
                        color: var(--secondary-light);
                        padding: 0.25rem 0.5rem;
                        font-size: 0.6rem;
                        border-radius: 0.25rem;
                        cursor: default;
                        text-align: center;
                    }
                    .grpName {
                        outline: none;
                        border: none;
                        padding: 0.5rem 0.75rem;
                        background-color: var(--tertiary-light);
                        font-family: 1.15rem;
                        border-radius: 0.5rem;
                        width: 12.5em;
                        font-family: 'Poppins', sans-serif;
                    }
                    .users {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        color: var(--primary-light);
                        background-color: var(--secondary);
                        padding: 0.5rem;
                        outline: 0.175rem solid transparent;
                        border-radius: 0.5rem;
                        font-family: 'Poppins', sans-serif;
                        transition: all 0.3s ease;
                        border: 0.1rem solid transparent;
                        cursor: pointer;
                        width: 95%;
                        .profilePic {
                            border-radius: 50%;
                        }
                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 0.25rem;
                            .name {
                                font-size: 0.85rem;
                            }
                            .email {
                                font-size: 0.6rem;
                                padding-left: 0.25rem;
                                color: var(--primary-light);
                            }
                        }
                    }
                    .createGrpBtn {
                        font-family: 'Poppins', sans-serif;
                        font-size: 1rem;
                        padding: 0.25rem 1rem;
                        outline: none;
                        border: none;
                        border-radius: 0.5rem;
                        background-color: var(--primary);
                        color: var(--primary-light);
                        cursor: pointer;
                        z-index: 1500;
                        width: 100%;
                    }
                }
                .addUserButton {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.25rem;
                    padding: 0.25rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: var(--primary);
                    color: var(--primary-light);
                    cursor: pointer;
                }
                .userList {
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    transition: all 0.3s ease-in-out;
                    height: 0rem;
                    opacity: 0;
                    .warning {
                        display: none;
                        border: transparent;
                        outline: none;
                        background: red;
                        color: var(--secondary-light);
                        padding: 0.25rem 0.5rem;
                        font-size: 0.75rem;
                        border-radius: 0.25rem;
                        cursor: default;
                        text-align: center;
                    }
                    .users {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        color: var(--primary-light);
                        background-color: var(--secondary);
                        padding: 0.5rem;
                        outline: 0.175rem solid transparent;
                        border-radius: 0.5rem;
                        font-family: 'Poppins', sans-serif;
                        transition: all 0.3s ease;
                        border: 0.1rem solid transparent;
                        cursor: pointer;
                        width: 95%;
                        .profilePic {
                            border-radius: 50%;
                        }
                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 0.25rem;
                            .name {
                                font-size: 0.85rem;
                            }
                            .email {
                                font-size: 0.6rem;
                                padding-left: 0.25rem;
                                color: var(--primary-light);
                            }
                        }
                    }
                    .addUserBtn {
                        font-family: 'Poppins', sans-serif;
                        font-size: 1rem;
                        padding: 0.25rem 1rem;
                        outline: none;
                        border: none;
                        border-radius: 0.5rem;
                        background-color: var(--primary);
                        color: var(--primary-light);
                        cursor: pointer;
                        width: 100%;
                    }
                }
            }
            .seeUserButton {
                margin-block: 1rem;
                font-family: 'Poppins', sans-serif;
                font-size: 1.25rem;
                padding: 0.25rem 1rem;
                outline: none;
                border: none;
                border-radius: 0.5rem;
                background-color: var(--primary);
                color: var(--primary-light);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                opacity: 0;
            }
            .addeduserList {
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                transition: all 0.3s ease-in-out;
                height: 0rem;
                opacity: 0;
                padding-bottom: 1rem;
                width: 90%;
                border-bottom: 0.1rem solid var(--primary-grey);
                .users {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    gap: 0rem;
                    color: var(--primary-light);
                    background-color: var(--secondary);
                    padding: 0.5rem;
                    outline: 0.175rem solid transparent;
                    border-radius: 0.5rem;
                    font-family: 'Poppins', sans-serif;
                    transition: all 0.3s ease;
                    border: 0.1rem solid transparent;
                    cursor: pointer;
                    width: 85%;
                    position: relative;
                    .adminSymbol {
                        position: absolute;
                        top: 0.35rem;
                        left: 92%;
                    }
                    .infoContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        background-color: transparent;
                        padding-bottom: 0rem;
                        .profilePic {
                            border-radius: 50%;
                        }
                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 0.25rem;
                            .name {
                                font-size: 0.85rem;
                            }
                            .email {
                                font-size: 0.6rem;
                                color: var(--primary-light);
                            }
                        }
                    }
                    .modal {
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        padding: 0.5rem;
                        box-shadow: 0 0 0.35rem 0rem var(--primary-grey);
                        border-radius: 0.5rem;
                        background-color: var(--primary-light);
                        width: auto;
                        height: auto;
                        outline: 0.05rem solid rgba(0,0,0,0.25);
                        cursor: default;
                        span {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 0.5rem;
                            background-color: transparent;
                            width: 10rem;
                            height: auto;
                            label {
                                font-family: 'Poppins', sans-serif;
                                font-size: 0.75rem;
                                color: var(--primary-dark);
                            }
                            input {
                                cursor: pointer;
                            }
                        }
                        .doneBtn {
                            font-size: 0.85rem;
                            font-family: 'Poppins', sans-serif;
                            padding: 0.15rem 1rem;
                            background-color: var(--primary);
                            outline: none;
                            border: none;
                            color: var(--primary-light);
                            border-radius: 0.35rem;
                            margin-top: 0.75rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            .groups {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                padding-block: 1.5rem;
                transition: all 0.3s ease-in-out;
                opacity: 0;
                button {
                    width: 10rem;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.25rem;
                    padding: 0.25rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: var(--secondary);
                    color: var(--primary-light);
                    cursor: pointer;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .burgerWrapper {
        display: block;
    }
}