.chat-bubble {
    border-radius: 1.25rem 1.25rem 1.25rem 0;
    padding: 1rem;
    background-color: #ffffff;
    color: #37474f;
    width: max-content;
    max-width: calc(100% - 3rem);
    box-shadow: 0 0 0.25rem #dadada;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem;
    cursor: default;
}
.chat-bubble.right {
    margin-left: auto;
    border-radius: 1.25rem 1.25rem 0 1.25rem;
    background-color: #fff;
    box-shadow: 0 0 0.25rem #dadada;
    cursor: default;
}
.chat-bubble__left {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: default;
}
.user-name {
    font-weight: bold;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: #37474f;
    cursor: default;
}
.user-message {
    word-break: break-all;
}
.message-time {
    display: block;
    text-align: right;
}
