.send-message {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.25rem #c5c5c5;
    padding-block: 0.5rem;
    overflow: hidden;
    z-index: 1500;
}
.send-message > input {
    height: auto;
    width: 75vw;
    border: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #37474f;
    font-size: 1rem;
    margin-left: 2rem;  
    font-family: 'Poppins', sans-serif;
    text-transform: none;
}
.send-message > input:placeholder {
    color: #ddd;
    font-family: 'Poppins', sans-serif;
}
.send-message > :is(input, button):focus {
    outline: none;
    border-bottom: 1px solid #37474f;
}
.send-message > button {
    width: 10%;
    height: 150%;
    color: #ffffff;
    border: none;
    background-color: #f65275;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .send-message > input {
        width: 60vw;
    }
    .send-message > button {
        width: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .send-message > input {
        width: 60vw;
    }
    .send-message > button {
        width: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .send-message > input {
        width: 50vw;
    }
}

@media screen and (max-width: 400px) {
    .send-message > input {
        width: 40vw;
    }
}

@media screen and (max-width: 350px) {
    .send-message > input {
        width: 35vw;
    }
}