.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-grey);
  color: #4c768d;
}

/* welcome page */
.welcome {
  padding: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  color: var(--primary-dark);
}

.welcome :is(h2, p, img) {
  margin-bottom: 1.25rem;
}

/* chat component */

/* send message */